
{% extends 'base.html.twig' %}

{% block title %}All4Sport - boutique en ligne{% endblock %}


{% block body %}
<div class="row">
        {% for produit in produits %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text">{{ produit.prix }} €</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
