.card {
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card a {
    color: #448ee4;
    text-decoration: none;
}

.card a:hover {
    color: #448ee4;

}


hr {
    color: #448ee4;
}

.card img {
    margin: 0 auto;
    display: block;
}

.header {
    background-color: #448ee4;
}

.logo img {
    height: 95px;
}

.navbar {
    padding: 30px;
    justify-content: center;
}

.navbar-menu li {
    display: inline-block;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.navbar a:hover {
    color: #448ee4;
}

#bouton {
    color: #448ee4;
    background-color: white;
    border: 1px solid #448ee4;
    border-radius: 10px;
    padding: 5px;
}

#bouton:hover {
    background-color: #448ee4;
    color: white;
}


.footer {
    background-color: #448ee4;
    color: #fff;
    padding: 40px 0;

}

.footer .subscribe {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.footer .contact {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.btn.btn-primary {
    background-color: #FF5733;
    border: 2px solid #FF5733;
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.btn.btn-primary:hover {
    background-color: #FF8955;
    border-color: #FF8955;
    transform: scale(1.05);
}