.header {
    height: 30px;
    background-color: #448ee4;
    padding: 30px;
}

.navbar {
    padding: 20px;
    justify-content: center;
}

.navbar-menu li {
    display: inline-block;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.navbar a:hover {
    color: #448ee4;
    text-decoration: underline;
    text-underline-offset: 5px;
}