<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/style.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header class="container-fluid">
            <div class="row">
                <div class="header col-12">
                </div>
            </div>
        </header>

        <div class="navbar col-12">
                    <ul class="navbar-menu">
                        <li class="nav-item">
                            <a class="nav-new" href="#">Nouveautés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-kids" href="#">Homme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-women" href="#">Femme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-kids" href="#">Enfant</a>
                        </li>
                    </ul>
                </div>
        {% block body %}{% endblock %}
        <div class="section footer-1 color-overlay">	
            <svg class="svg svg-top" xmlns="http://www.w3.org/2000/svg" width="1200" fill="#f9fcfe" height="30" viewBox="0 0 1200 30" preserveAspectRatio="none">
                <path d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z"></path>
            </svg>			
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 section-heading-1">
                        <h2 class="white">Newsletter</h2>						
                        <p class="white">
                            Inscrivez-vous pour reçevoir pour des mails concernant de nouvelles offres
                        </p>	
                    </div>
                </div>	
                <!-- NEWSLETTER -->
                <div class="newsletter-1">
                    <div class="newsletter-bg">
                        <div class="row">	
                            <div class="col-sm-12 col-md-offset-2 col-md-8">
                                <form action="php/newsletter.php" method="post">
                                    <input id="email_newsletter" class="form-control" type="email" name="nf_email" placeholder="Enter Your Email" maxlength="50">
                                    <button type="submit" class="btn btn-primary"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>				
                </div>
                <!-- Social Icon -->
                
                <div class="fcopy text-center">
                    2018 All Right Reserved.
                </div>								
            </div>
        </div>
          
          
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    </body>
</html>
